[submodule "emacs/zenburn/data/zenburn-git"]
	path = emacs/zenburn/data/zenburn-git
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "emacs/icicles/data/icicles.git"]
	path = emacs/icicles/data/icicles.git
	url = git://github.com/emacsmirror/icicles.git
[submodule "emacs/magit/data/magit.git"]
	path = emacs/magit/data/magit.git
	url = git://github.com/magit/magit.git
[submodule "emacs/bookmark+/data/bookmark+.git"]
	path = emacs/bookmark+/data/bookmark+.git
	url = git://github.com/emacsmirror/bookmark-plus.git
[submodule "emacs/fastnav/data/fastnav.git"]
	path = emacs/fastnav/data/fastnav.git
	url = git://github.com/gleber/fastnav.el.git
[submodule "emacs/rainbow-delimiters/data/rainbow-delimiters.git"]
	path = emacs/rainbow-delimiters/data/rainbow-delimiters.git
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "emacs/nyan-mode/data/nyan-mode.git"]
	path = emacs/nyan-mode/data/nyan-mode.git
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule "emacs/yasnippet/data/yasnippet.git"]
	path = emacs/yasnippet/data/yasnippet.git
	url = git://github.com/capitaomorte/yasnippet.git
