[submodule "modules/editor/emacs/xtra/icicles/data/icicles.git"]
	path = modules/editor/emacs/xtra/icicles/data/icicles.git
	url = git://github.com/emacsmirror/icicles.git
[submodule "modules/editor/emacs/xtra/magit/data/magit.git"]
	path = modules/editor/emacs/xtra/magit/data/magit.git
	url = git://github.com/magit/magit.git
[submodule "modules/editor/emacs/xtra/bookmark+/data/bookmark+.git"]
	path = modules/editor/emacs/xtra/bookmark+/data/bookmark+.git
	url = git://github.com/emacsmirror/bookmark-plus.git
[submodule "modules/editor/emacs/xtra/fastnav/data/fastnav.git"]
	path = modules/editor/emacs/xtra/fastnav/data/fastnav.git
	url = git://github.com/gleber/fastnav.el.git
[submodule "modules/editor/emacs/xtra/rainbow-delimiters/data/rainbow-delimiters.git"]
	path = modules/editor/emacs/xtra/rainbow-delimiters/data/rainbow-delimiters.git
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "modules/editor/emacs/xtra/yasnippet/data/yasnippet.git"]
	path = modules/editor/emacs/xtra/yasnippet/data/yasnippet.git
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "modules/editor/emacs/xtra/wanderlust/data/wanderlust.git"]
	path = modules/editor/emacs/xtra/wanderlust/data/wanderlust.git
	url = git://github.com/wanderlust/wanderlust.git
[submodule "modules/editor/emacs/xtra/yaml-mode/data/yaml-mode.git"]
	path = modules/editor/emacs/xtra/yaml-mode/data/yaml-mode.git
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "modules/editor/emacs/xtra/buff-menu+/data/buff-menu+.git"]
	path = modules/editor/emacs/xtra/buff-menu+/data/buff-menu+.git
	url = git://github.com/emacsmirror/buff-menu-plus.git
[submodule "modules/editor/emacs/xtra/markdown-mode/data/markdown-mode.git"]
	path = modules/editor/emacs/xtra/markdown-mode/data/markdown-mode.git
	url = http://jblevins.org/git/markdown-mode.git
[submodule "modules/editor/emacs/xtra/ace-jump-mode/data/ace-jump-mode.git"]
	path = modules/editor/emacs/xtra/ace-jump-mode/data/ace-jump-mode.git
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "modules/editor/emacs/xtra/zenburn/data/zenburn-emacs.git"]
	path = modules/editor/emacs/xtra/zenburn/data/zenburn-emacs.git
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "modules/terminal/shell/scripts/data/shssword.git"]
	path = modules/terminal/shell/scripts/data/shssword.git
	url = git://github.com/dgvncsz0f/shssword.git
[submodule "modules/terminal/shell/scripts/data/dot-install.git"]
	path = modules/terminal/shell/scripts/data/dot-install.git
	url = git://github.com/dgvncsz0f/dot-install.git
[submodule "modules/terminal/shell/scripts/data/dzen-tools.git"]
	path = modules/terminal/shell/scripts/data/dzen-tools.git
	url = git://github.com/dgvncsz0f/dzen-tools.git
[submodule "modules/editor/emacs/xtra/expand-region/data/expand-region.git"]
	path = modules/editor/emacs/xtra/expand-region/data/expand-region.git
	url = git://github.com/magnars/expand-region.el.git
[submodule "modules/editor/emacs/xtra/full-ack/data/full-ack.git"]
	path = modules/editor/emacs/xtra/full-ack/data/full-ack.git
	url = git://github.com/nschum/full-ack.git
[submodule "modules/editor/emacs/xtra/js2-mode/data/js2-mode.git"]
	path = modules/editor/emacs/xtra/js2-mode/data/js2-mode.git
	url = git://github.com/mooz/js2-mode.git
[submodule "modules/editor/emacs/xtra/smartparens/data/smartparens.git"]
	path = modules/editor/emacs/xtra/smartparens/data/smartparens.git
	url = git://github.com/Fuco1/smartparens.git
[submodule "modules/editor/emacs/xtra/dash/data/dash.el.git"]
	path = modules/editor/emacs/xtra/dash/data/dash.el.git
	url = git://github.com/magnars/dash.el.git
[submodule "modules/editor/emacs/xtra/org-tree-slide/data/org-tree-slide.git"]
	path = modules/editor/emacs/xtra/org-tree-slide/data/org-tree-slide.git
	url = git://github.com/takaxp/org-tree-slide.git
[submodule "modules/editor/emacs/xtra/erc-image/data/erc-image.git"]
	path = modules/editor/emacs/xtra/erc-image/data/erc-image.git
	url = git://github.com/emacsmirror/erc-image.git
[submodule "modules/editor/emacs/xtra/evil-numbers/data/evil-numbers.git"]
	path = modules/editor/emacs/xtra/evil-numbers/data/evil-numbers.git
	url = git://github.com/cofi/evil-numbers.git
[submodule "modules/editor/emacs/xtra/powerline/data/powerline"]
	path = modules/editor/emacs/xtra/powerline/data/powerline.git
	url = https://github.com/milkypostman/powerline.git
[submodule "modules/terminal/shell/bash/xtra/dircolors-solarized/data/dircolors-solarized.git"]
	path = modules/terminal/shell/bash/xtra/dircolors-solarized/data/dircolors-solarized.git
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "modules/editor/emacs/xtra/better-registers/data/better-registers.git"]
	path = modules/editor/emacs/xtra/better-registers/data/better-registers.git
	url = git://github.com/emacsmirror/better-registers.git
