[submodule "emacs/xtra/icicles/data/icicles.git"]
	path = emacs/xtra/icicles/data/icicles.git
	url = git://github.com/emacsmirror/icicles.git
[submodule "emacs/xtra/magit/data/magit.git"]
	path = emacs/xtra/magit/data/magit.git
	url = git://github.com/magit/magit.git
[submodule "emacs/xtra/bookmark+/data/bookmark+.git"]
	path = emacs/xtra/bookmark+/data/bookmark+.git
	url = git://github.com/emacsmirror/bookmark-plus.git
[submodule "emacs/xtra/fastnav/data/fastnav.git"]
	path = emacs/xtra/fastnav/data/fastnav.git
	url = git://github.com/gleber/fastnav.el.git
[submodule "emacs/rainbow-delimiters/data/rainbow-delimiters.git"]
	path = emacs/rainbow-delimiters/data/rainbow-delimiters.git
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "emacs/nyan-mode/data/nyan-mode.git"]
	path = emacs/nyan-mode/data/nyan-mode.git
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule "emacs/yasnippet/data/yasnippet.git"]
	path = emacs/yasnippet/data/yasnippet.git
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "emacs/xtra/haskell-mode/data/haskell-mode.git"]
	path = emacs/xtra/haskell-mode/data/haskell-mode.git
	url = git://github.com/haskell/haskell-mode.git
[submodule "emacs/wanderlust/data/wanderlust.git"]
	path = emacs/wanderlust/data/wanderlust.git
	url = git://github.com/wanderlust/wanderlust.git
[submodule "emacs/yaml-mode/data/yaml-mode.git"]
	path = emacs/yaml-mode/data/yaml-mode.git
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "emacs/xtra/buff-menu+/data/buff-menu+.git"]
	path = emacs/xtra/buff-menu+/data/buff-menu+.git
	url = git://github.com/emacsmirror/buff-menu-plus.git
[submodule "emacs/xtra/markdown-mode/data/markdown-mode.git"]
	path = emacs/xtra/markdown-mode/data/markdown-mode.git
	url = http://jblevins.org/git/markdown-mode.git
[submodule "emacs/xtra/ace-jump-mode/data/ace-jump-mode.git"]
	path = emacs/xtra/ace-jump-mode/data/ace-jump-mode.git
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs/xtra/zenburn/data/zenburn-emacs.git"]
	path = emacs/xtra/zenburn/data/zenburn-emacs.git
	url = git://github.com/bbatsov/zenburn-emacs.git
